<div class="container">
    <img   src="assets/image.png" alt="image">
    <div class="text-container">
        <div>
            <h1>References</h1>
            <span class="text"> 
            TOXTRUST was developed and designed based on a wide range of scientific and technical publications. The references are listed below.
            </span>
            <br>
            <br>
            <br>
            <span class="title-reference">
                Mathematical Derivation of Angular Momenta in Quantum Physics
            </span>
            <br>
            <span class="names">
                Daniel Grucker
            </span>
            <br>
            <span class="date-reference"> <span class="subtitle-reference">Journal of Modern Physics Vol.4 No.7</span>, July 8, 2013 </span>
            <br>
            <span>DOI:  <span class="timestamp">10.4236/jmp.2013.47125</span></span>
        </div>

    </div>
</div>