.container{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 90vh;
    width: 99vh;
 

}

.container img {
    width: 100%;
    height: 30vh !important;
    display: block;
    border-radius: 10px 10px 0px 0px !important;
  }
  .text-container {
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    padding-top: 30px;
    background-color: white !important;
    height: 90vh;
    div {
        padding: 20px;
    }
  }
  .title-reference {
    color: rgb(9, 60, 119);
    font-size: 17px;
  }
  .names {
    color: rgb(31, 30, 30);
  }
  .subtitle-reference {
    font-style: italic;
    color: rgb(39, 90, 230);
  }
  .date-reference  {
    color: gray;
  }
  .timestamp {
    color: rgb(39, 90, 230);

  }