<div class="container">
    <img   src="assets/image.png" alt="image">
    <div class="text-container">
        <div>
            <h1>References</h1>
            <span class="text"> 
            TOXTRUST was developed based on a wide range of scientific and technical publications, including the references below.
            </span>
            <br>
            <br>
            <br>
             <a class="title-reference" target=”_blank” href="https://fitelson.org/topics/shafer.pdf">Dempster-shafer theory</a>   
            <br>
            <span class="names">
                Glenn Shafer
            </span>
            <br>
            <span class="date-reference"> <span class="subtitle-reference">Encyclopedia of artificial intelligence </span>(1992): 330-331</span>
            <br>
            <br>

            <!-- <span>DOI:  <span class="timestamp">10.4236/jmp.2013.47125</span></span> -->
            <span class="title-reference">
                Combination of evidence in Dempster-Shafer theory
            </span> 
            <br>
            <span class="names">
                Sentz, Kari, and Scott Ferson
            </span>
            <br>
            <span class="date-reference"> <span class="subtitle-reference">Sandia National Laboratories Albuquerque </span>(2002): volume 4015 </span>
            <br>
             <span>DOI:  <a target=”_blank” href="https://www.osti.gov/biblio/800792/" class="timestamp">10.2172/800792</a></span>
             <br>
             <br>
             <span class="title-reference">
            Dempster-Shafer theory for combining in silico evidence and estimating uncertainty in chemical risk assessment
            </span> 
            <br>
            <span class="names">
                Rathman, James F., Chihae Yang, and Haojin Zhou
            </span>
            <br>
            <span class="date-reference"> <span class="subtitle-reference">Computational Toxicology </span>(2018): 16-31</span>
            <br>
             <span>DOI:  <a target=”_blank” href="https://www.sciencedirect.com/science/article/pii/S2468111318300197?via%3Dihub" class="timestamp">10.1016/j.comtox.2018.03.001</a></span> 
        </div>

    </div>
</div>