.navbar{
    background-color: white !important;
}

.MenuOptions{
  margin-bottom: 30px !important;
}

.mat-icon {
    color: black;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .title-navbar{
    color: black;
    margin-left: 10px;
  }

  button{
    border-radius: 0px !important;
    background-color: transparent !important;
    color: white !important;
  }