<mat-toolbar class="navbar">
    <button (click)="this.menu_options = !this.menu_options"  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title-navbar">TOXTRUST</span>
    <span class="example-spacer"></span>
    <img width="80px" src="assets/aspis.png" alt="">
    <img width="80px" src="assets/riskhunter.png" alt="">
    <img width="105px" src="assets/upf.png" alt="">
  </mat-toolbar>

  <div [ngClass]="{
    'slide-down-enter': !menu_options,
    'slide-down-leave': menu_options,
    'slide-down-enter-active': !menu_options && !hidden,
    'slide-down-leave-active': menu_options && !hidden
  }" class="MenuOptions"  (mouseleave)="onMouseLeaveMenu()">
<button mat-raised-button (click)="openNewProject()">New project</button>
<button mat-raised-button (click)="openManageEndpoints()">Existing projects</button>
<button mat-raised-button (click)="openDocumentation()" >Documentation</button>
<button mat-raised-button (click)="openCode()">Code</button>
<button mat-raised-button (click)="openReferences()">References</button>
</div>

