.navbar{
    background-color: #2B244D !important;
}
.mat-icon {
    color: white;
}
.example-spacer {
    flex: 1 1 auto;
  }

  .title-navbar{
    color: white;
    margin-left: 10px;
  }

  button{
    border-radius: 0px !important;
    background-color: transparent !important;
    color: white !important;
  }