<mat-dialog-content>
  <span class="title-table">Basic probability masses</span>
  <table  ><thead>
    <tr>
      <th>Parameter / Result</th>
      <th>Negative</th>
      <th>Uncertain</th>
      <th>Positive</th>
    </tr></thead>
  <tbody>
    <tr>
      <td>Belief</td>
      <td>{{this.evidenceResult['probabilities']?.negative}}</td>
      <td>{{this.evidenceResult['probabilities']?.uncertain}}</td>
      <td>{{this.evidenceResult['probabilities']?.positive}}</td>
    </tr>
  </tbody>
  </table>

  <span class="title-table">Probability bonds</span>

  <table  ><thead>
    <tr>
      <th>Parameter / Result</th>
      <th>Negative</th>
      <th>Positive</th>
    </tr></thead>
  <tbody>
    <tr>
      <td>Belief</td>
      <td>{{this.evidenceResult['belief']?.negative}}</td>
      <td>{{this.evidenceResult['belief']?.positive}}</td>
    </tr>
    <tr>
      <td>Plausibility</td>
      <td>{{this.evidenceResult['plausibility']?.negative}}</td>
      <td>{{this.evidenceResult['plausibility']?.positive}}</td>
    </tr>
  </tbody>
  </table>
  
  <div class="containerImage" style="display: flex; justify-content: center; margin-top: 15px;">
    <img [src]="this.image" width="288" height="288" alt="">
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button id="closeBtn" mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>

