<mat-dialog-content>
  <table style="margin-top: 30px;"  ><thead>
    <tr>
      <th>Probability bound</th>
      <th>Negative</th>
      <th>Positive</th>
    </tr></thead>
  <tbody>
    <tr>
      <td>Belief</td>
      <td>{{this.evidenceResult['belief']?.negative}}</td>
      <td>{{this.evidenceResult['belief']?.positive}}</td>
    </tr>
    <tr>
      <td>Plausibility</td>
      <td>{{this.evidenceResult['plausibility']?.negative}}</td>
      <td>{{this.evidenceResult['plausibility']?.positive}}</td>
    </tr>
  </tbody>
  </table>

  <app-plotly-graph-decision></app-plotly-graph-decision>
</mat-dialog-content>

<mat-dialog-actions>
  <button id="closeBtn" mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
