


th{
  font-weight: bold;
}
  table {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: white !important;

  }

  .mat-mdc-dialog-content, .mdc-dialog__content,.mat-mdc-dialog-surface,.mdc-dialog__surface,.mat-mdc-dialog-actions, .mdc-dialog__actions{
    background-color: white !important;
  }
  .title-table {
    font-size: 18px;

  }

  .containerImage {
    background-color: white !important;
  }