<form (ngSubmit)="onSubmitDecision(decisionForm)" #decisionForm="ngForm" class="example-form">
  <span class="title">Decision settings</span>

  <div class="container-flex">
    <div class="container-row">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Maximum uncertainty</mat-label>
        <input ngModel type="number" name="maxUncertainty" matInput>
      </mat-form-field>
    </div>
    <div class="container-row">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Minimum belief</mat-label>
        <input ngModel name="minBelief" type="number" matInput>
      </mat-form-field>
    </div>
    <button [disabled]="decisionForm.invalid" type="submit" mat-flat-button>Save</button>

  </div>
</form>
