
<div  class="container">
<img   src="assets/image.png" alt="image">
<mat-stepper id="matStepperContainer" [linear]="true" #stepper>
    <mat-step >
        <ng-template matStepLabel>Endpoint</ng-template>
  <app-define-endpoint></app-define-endpoint> 
    </mat-step>
    <mat-step >
        <ng-template matStepLabel>Settings</ng-template>
  <!-- <app-define-endpoint></app-define-endpoint>  -->
  <app-decision-settings></app-decision-settings>
    </mat-step>
    <mat-step >
        <ng-template matStepLabel>Evidence</ng-template>
        <app-list-evidences></app-list-evidences>
        <!-- <app-add-evidence></app-add-evidence> -->
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Combination</ng-template>
        3 step
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Report</ng-template>
      4 step
  </mat-step>
  </mat-stepper>

</div>