.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 80vh;
    width: 90vh;

  }

  .container img {
    width: 100%;
    height: 30vh !important;
    display: block;
    border-radius: 10px 10px 0px 0px !important;
  }

  #matStepperContainer{
    width: 90vh !important;
  }

  .containerEvidence {
    display: flex;
    flex-direction: row;
  }