.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    min-height: 900px;
  }

  .container img {
    width: 1200px !important;
    height: 400px !important;
    display: block;
    border-radius: 10px 10px 0px 0px;
    
  }

  #matStepperContainer{
    width: 1200px !important;
    height: 700px !important;

  }