.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    max-width: 900px;
    min-height: 900px;
  }

  .container img {
    width: 879px;
    height: 300px !important;
    display: block;
    border-radius: 10px 10px 0px 0px;
    
  }
  