
.outer-container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    height: 100vh;
    
    width: 100vw; 
  }
  




#matStepperContainer{
    width: 100%;
}  
.imgcontainer1{
  width: 500px !important;
  border-radius: 10px 10px 0px 0px;


}
.titlemenu{
  margin-top: 2px;
  margin-left: 10px;
}
.buttonContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}