<div class="outer-container">
    <div class="container">
      <img src="assets/image.png" alt="image">
      <mat-stepper id="matStepperContainer" [linear]="true" #stepper>
        <mat-step >
            <ng-template matStepLabel>Define Endpoint</ng-template>
            1 step
        </mat-step>
        <mat-step >
            <ng-template matStepLabel>Add Evidence</ng-template>

            2 step
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Visualise Evidence</ng-template>

            3 step
        </mat-step>
      </mat-stepper>
      <!-- <app-define-endpoint></app-define-endpoint> -->
    </div>
  </div>
  