
<div class="outer-container">
    <mat-accordion>
      <mat-expansion-panel  hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon> <span class="titlemenu">TOXTRUST</span>  </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel-header>
          <div class="containerLogos">
            <img width="120px" src="assets/upf.png" alt="">
            <img width="90px" src="assets/aspis.png" alt="">
            <img width="80px" src="assets/riskhunter.png" alt="">
            </div>
        </mat-expansion-panel-header>

          <div class="buttonContainer">
            <button mat-raised-button (click)="openNewProject()">New Project</button>
            <button mat-raised-button (click)="openManageEndpoints()">Existing Projects</button>
            <button mat-raised-button>Documentation</button>
            <button mat-raised-button>Code</button>
            <button mat-raised-button>Literature</button>
          </div>
      </mat-expansion-panel>

    </mat-accordion>
    <app-new-endpoint-form *ngIf="this.endpoint.name"></app-new-endpoint-form>

    <app-manage-endpoints *ngIf="displayManageEndpoints"></app-manage-endpoints> 
  </div>
  