
.container{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 80vh;
    width: 90vh;
 

}
.container img {
    width: 100%;
    height: 30vh !important;
    display: block;
    border-radius: 10px 10px 0px 0px !important;
  }

  .text-container {
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    padding-top: 20px;
    background-color: white !important;
    height: 40vh;
    div {
      text-align: justify !important;
      padding: 25px;
      margin-top: 10px;
    }
    
  }
  .text {
    font-size: 20px;
  }