<div  class="container">
  <img   src="assets/image.png" alt="image">
  <div class="container-table">
    <div class="text-container">
      <h1>Existing projects</h1>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell id="name-rows" *matCellDef="let element"> {{element.name | capitalize}} </td>
      </ng-container>
            <!-- Compound Column -->
            <ng-container matColumnDef="compound">
              <th mat-header-cell *matHeaderCellDef> Compound </th>
              <td mat-cell  *matCellDef="let element"> {{element.compound | capitalize}} </td>
            </ng-container>
         <!-- Framework Column -->
         <ng-container matColumnDef="framework">
          <th mat-header-cell *matHeaderCellDef> Framework </th>
          <td mat-cell *matCellDef="let element"> {{element.framework | capitalize}} </td>
        </ng-container>
                 <!-- Project Permissions Column -->
                 <ng-container matColumnDef="project permissions">
                  <th mat-header-cell *matHeaderCellDef> Project permissions </th>
                  <td mat-cell *matCellDef="let element"> {{element.confidentiality | capitalize}} </td>
                </ng-container>
         <!-- Delete Button Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="deleteEndpoint(element,$event)">
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </td>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="selectEndpoint(row)"  *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator id="paginator" [hidePageSize]="true" [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>
  </div>
  