<table style="margin-top: 30px;"  ><thead>
    <tr>
      <th>Name</th>
      <th>Combined</th>
      <th>Rule</th>
      <th>Delete</th>
    </tr></thead>
  <tbody>
    <tr>
      <td>{{this.endpoint.name}}</td> 
      <td> <span *ngFor="let evidence of this.endpoint.options.combination.shouldCombine"> {{evidence}} </span> </td>
      <td>{{this.endpoint.options.combination.rule}}</td>
      <td>
        <button (click)="deleteCombination()">
        <mat-icon class="delete-icon">delete</mat-icon>
      </button></td>
    </tr>
  </tbody>
  </table>
  <div *ngIf="this.resultData" class="container">
    <plotly-plot *ngIf="this.graph" [data]="graph.data" [layout]="graph.layout"></plotly-plot>
  </div>

