
<form class="example-form">
    <mat-form-field appearance="outline" class="margin">
      <mat-label>Name</mat-label>
      <input required ngModel name="name" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" class="margin">
        <mat-label>Source</mat-label>
        <mat-select required ngModel name="source">
          <mat-option value="qsar">QSAR</mat-option>
          <mat-option value="expert">Expert</mat-option>
          <mat-option value="in vitro">in vitro</mat-option>
          <mat-option value="positive alert">Positive alert</mat-option>
          <mat-option value="negative alert">Negative alert</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="margin">
        <mat-label>Result</mat-label>
        <mat-select required ngModel name="result">
          <mat-option value="negative">Negative</mat-option>
          <mat-option value="positive">Positive</mat-option>
          <mat-option value="both">Both</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="margin">
        <mat-label>result numeric</mat-label>
        <input type="number" required ngModel name="result_numeric" matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="margin">
          <mat-label>Reliability</mat-label>
          <input name="reliability" ngModel required matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" class="margin">
          <mat-label>Relevance</mat-label>
          <mat-select required ngModel name="relevance">
            <mat-option value="certain">Certain</mat-option>
            <mat-option value="probable">Probable</mat-option>
            <mat-option value="plausible">Plausible</mat-option>
            <mat-option value="equivocal">Equivocal</mat-option>
            <mat-option value="doubted">Doubted</mat-option>
            <mat-option value="improbable">Improbable</mat-option>
            <mat-option value="impossible">Impossible</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
          <mat-form-field appearance="outline" class="margin">
              <mat-label>Weight</mat-label>
              <input name="weight" type="number" ngModel required matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="margin full-width">
                <mat-label>Comments (optional)</mat-label>
                <textarea ngModel name="comments" matInput placeholder="Important remarks regarding the method or the result can be described there."></textarea>
              </mat-form-field>
              <div class="buttons-row">
                <button class="pr-3" mat-flat-button>Save</button>
                <button mat-raised-button>Cancel</button>
              </div>
</form>