.margin {
    margin: 5px;
}
.full-width {
    width: 90%;
}

.buttons-row {
    display: table-cell;
    max-width: 600px;
  }

  .buttons-row .mat-mdc-button-base {
    margin: 10px 10px 10px 0;
  }

  .positiveContainer {

    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border: 1px solid rgb(147, 219, 147);
    border-radius: 5px;

  }
  .negativeContainer {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border: 1px solid rgb(251, 78, 78);
    border-radius: 5px;

  }
.containerNegativePositive{
  display: flex;
  flex-direction: row;
 

}
