<div class="container">
  <br>
<button style="margin-bottom: 10px;" class="btnAddEvidence" (click)="openNewEvidence()" mat-flat-button
matTooltip="Add a new evidence piece to start the computation of probabilities. "
aria-label="Button that displays a tooltip when focused or hovered over"
matTooltipPosition="right"
matTooltipClass="tooltip"
>
Add evidence</button>


  <div class="table-container">
      <table [hidden]="this.listEvidences.length <= 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.source | capitalize}} </td>
        </ng-container>
               <!-- weight Column -->
               <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>
                             <!-- Relevance Column -->
                             <ng-container matColumnDef="relevance">
                              <th mat-header-cell *matHeaderCellDef> Relevance </th>
                              <td mat-cell *matCellDef="let element"> {{element.relevance | capitalize}} </td>
                            </ng-container>
                                                         <!-- negative Column -->
                                                         <ng-container matColumnDef="negative">
                                                          <th mat-header-cell *matHeaderCellDef> Negative </th>
                                                          <td mat-cell *matCellDef="let element"> {{element.probabilities.negative}} </td>
                                                        </ng-container>
                                                                                                                                              <!-- Uncertain Column -->
                                                                                                                                              <ng-container matColumnDef="uncertain">
                                                                                                                                                <th mat-header-cell *matHeaderCellDef> Uncertain </th>
                                                                                                                                                <td mat-cell *matCellDef="let element"> {{element.probabilities.uncertain}} </td>
                                                                                                                                              </ng-container>
                                                        
                                                                              <!-- negative Column -->
                                                                              <ng-container matColumnDef="positive">
                                                                                <th mat-header-cell *matHeaderCellDef> Positive </th>
                                                                                <td mat-cell *matCellDef="let element"> {{element.probabilities.positive}} </td>
                                                                              </ng-container>


                            <!-- visualize button column -->
                            <ng-container matColumnDef="decision">
                              <th mat-header-cell *matHeaderCellDef>Decision </th>
                              <td mat-cell *matCellDef="let element">
                                <button mat-flat-button (click)="selectEvidence(element)"
                                matTooltip="Inspect"
                                matTooltipPosition="right"
                                >
                                  {{this.endpoint.decisions[element.name] | capitalize }}
                                </button>
                              </td>
                            </ng-container>
                            <!-- checkbox-->
                            <ng-container matColumnDef="combine">
                              <th mat-header-cell *matHeaderCellDef>Combine </th>
                              <td mat-cell *matCellDef="let element; let i = index">
                                <mat-checkbox
                                ngModel
                                (change)="includeEvidence($event,i)"
                                name="include"
                                id="includeCheckbox"
                                class="example-margin"
                                ></mat-checkbox
                              >
                              </td>
                            </ng-container>

                 <!-- Delete Button Column -->


    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="deleteEvidence(element,$event)">
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </td>
    </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row   *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr><button>Delete</button>
        </tr>
      </table>
    </div>
      <button [hidden]="this.listEvidences.length <= 0" [disabled]="this.listCombineEvidences.length <= 1" mat-flat-button (click)="runCombine()">
        Combine
      </button>
</div>
      <!-- <mat-paginator id="paginator" [hidePageSize]="true" [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator> -->