<div class="container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
                 <!-- Delete Button Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="deleteEvidence(element,$event)">
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </td>
    </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="selectEvidence(row)"  *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr><button>Delete</button>
        </tr>
      </table>
<button (click)="openNewEvidence()" mat-flat-button>Add Evidence</button>
</div>
      <!-- <mat-paginator id="paginator" [hidePageSize]="true" [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator> -->