.demo-table {
    width: 400px !important;
    margin-bottom: 20px;
  }

  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  .red-icon {
    color: #f44336; /* rojo material design */
  }