.example-form {
  margin-top: 5px;
    height: 40vh;
  }
  
  .example-full-width {
    width: 100%;
  }

  .buttons-row {
    display: table-cell;
    max-width: 600px;
  }

  .buttons-row .mat-mdc-button-base {
    margin: 10px 10px 10px 0;
  }
  .title {
    font-size: 15px ;
  }
.container-1-flex {
  width: 100%;
  padding-top: 5px;
  display: flex;
  align-items: center;
  gap: 70px;
}

.container-options{
  display: flex;
  flex-direction: column;
}
.radio-buttons{
  margin-left: 20px !important;
}